/* sidebar.component.css */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  height: 100vh;
  /* background-color:   */
   background: linear-gradient(135deg, #85e5ed, #6b9fe9);
  box-shadow: 2px 0 5px rgba(232, 225, 225, 0.1);
  overflow-y: auto;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
}
.sidebar .nav-link {
  padding: 12px 16px;
  font-size: 15px;
  transition: background-color 0.2s ease-in-out;
  color: #fff !important;       /* keep all links white */
  background: transparent; 
}

.sidebar .nav-link:hover {
  background-color: rgba(71, 68, 68, 0.1);
  border-radius: 8px;
}

.sidebar-logo img {
  max-width: 90px;
  margin-left: -20px;
}
.main-content {
  margin-left: 220px;  /* Must match sidebar width */
  padding: 20px;
  min-height: 100vh;
  background-color: #f8f9fa; /* Optional */
  overflow-x: hidden;
}
.sidebar .nav-link.active {
  /* background-color: #acaeb0;     */
  color: #1008ab !important;       /* white text */
  border-radius: 0.375rem;      /* rounded edges */
}